.tsl_login_css .input {
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    box-shadow: none;
    box-sizing: border-box;
    display: table;
    height: auto;
    padding: .75em;
    transition: all .2s linear;
    width: 100%;
}

.tsl_login_css #tsl_login_submit, .tsl_login_css #tsl_register_submit {
    width: 100%;
}

.tsl_login_css .modal-header .modal-title {
    margin-bottom: 0;
    line-height: 1.5;
}

.tsl_login_form_header__login, .tsl_login_form_header__register, .tsl_login_form_header__logged {
    cursor: pointer;
}

.tsl_login_css .tsl_form_error, .tsl_login_css .tsl_register_success {
    display: none;
}
.tsl_login_form_header__logged-dd {
    display: none;
    list-style: none;
    margin: 0;
    min-width: 150px;   
    padding: 0 0 5px 0;
    position: relative;
    text-align: center;
    /*visibility: hidden;*/
    white-space: nowrap;
}
.tsl_login_form_header__logged-dd-icon {
    font-size: 20px;
    margin-right: 0.65em;
    position: absolute;
    right: 2.7em;
    top: -.4em;
}
.tsl_login_form_header__logged-dd-item {
    box-shadow: 1px 1px 15px #79797924;
    display: block;
    font-size: 14px;
    margin: 0;
    padding-top: 10px;
    position: relative;
}
.tsl_login_form_header__logged-dd-item a {
    text-decoration: none;
}
.tsl_login_form_header__logged-dd-item a:hover {
    text-decoration: underline;
}